name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: apt
        run: |
          sudo apt install \
            gcc gfortran cmake wget liblapack-dev \
            openmpi-bin libopenmpi-dev

      - name: pip install
        run: |
          python -m pip install -U pip
          python -m pip install numpy scipy toml

      - name: make workspace
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: cmake
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: cmake -DCMAKE_INSTALL_PREFIX=${{runner.workspace}}/usr -DCMAKE_VERBOSE_MAKEFILE=1 $GITHUB_WORKSPACE

      - name: build
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: cmake --build ./

      - name: ctest
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: ctest -V

      - name: install
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: make install


  docs:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Prepare LaTeX env
      run: |
        sudo apt install \
          texlive-latex-recommended texlive-latex-extra \
          texlive-lang-japanese texlive-fonts-recommended texlive-fonts-extra latexmk
        kanji-config-updmap-sys ipaex

    - name: Install python packages
      run: |
        python -m pip install --upgrade pip
        pip install sphinx sphinxcontrib-spelling

    - name: Build
      run: |
        cd ${GITHUB_WORKSPACE}
        cmake -E make_directory build
        cd build
        cmake -DDocument=ON ../
        make doc
